<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.venuskimblessing.youtuberepeatfree">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!--<uses-permission android:name="com.android.vending.BILLING" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name="com.venuskimblessing.youtuberepeatfree.IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.venuskimblessing.youtuberepeatfree.GuideActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.venuskimblessing.youtuberepeatfree.Player.PlayerActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation">
        </activity>
        <activity
            android:name="com.venuskimblessing.youtuberepeatfree.SearchActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.SEND"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="text/plain"></data>
            </intent-filter>
        </activity>

        <activity
            android:name="com.venuskimblessing.youtuberepeatfree.LoadingActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name="com.venuskimblessing.youtuberepeatfree.FloatingView.FloatingService"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW"></service>

        <receiver android:name=".BroadcastReceiver.ShareAppReciver" android:exported="false"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider2346907598897007"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
    </application>
</manifest>